.home__container
  .home__board{ng-class:"home.expenses.length ? 'home__budgetRestricted' : 'home__budgetOpen'"}
    %div.home__budgetsContainer{ng-if:"home.budgets.length"}
        %div.home__budgetItem{ng-repeat:"budgetItem in home.budgets", ng-class:"(home.selectedBudget._id === budgetItem._id) ? 'home__selected' : ''", ng-click:"home.listExpenses(budgetItem)"}
            %div.home__budgetName
                {{budgetItem.name}}
            %div.home__budgetAmount
                {{budgetItem.amount}}
            %div.home__totalExpense
                {{home.calcTotExpense(budgetItem)}}
            %div.home__percUsed 
                {{home.calcPercUsed(budgetItem)}}%
            %div.home__timeStart
                dal {{budgetItem.timeStart | date}}
            %div.home__timeEnd
                al {{budgetItem.timeEnd | date}}

    %div.home__expensesContainer{ng-if:"home.expenses.length"}
        %div.home__expenseItem{ng-repeat:"expenseItem in home.expenses"}
            %div.home__expenseName
                {{expenseItem.name}}
            %div.home__expenseAmount
                {{expenseItem.amount}}
            %div.home__expenseDateRef
                {{expenseItem.dateRef | date}}
            %div.home__expenseCar
                {{expenseItem.cathegory}}
            %div.home__expenseNote
                {{expenseItem.note}}

    %button.home__add{ng-click:"home.openNewBudgetModal()"}
        +
    %button.home__add.home__addExpense{ng-click:"home.openNewExpenseModal()"}
        S
    -# .home__budgetTestContainer
    -#   %input{type: "text", label: "name", ng-model: "home.name"}
    -#   %input{type: "text", label: "amount", ng-model: "home.amount"}
    -#   %input{type: "date", label: "timeStart", ng-model: "home.timeStart"}
    -#   %input{type: "date", label: "timeEnd", ng-model: "home.timeEnd"}
    -#   %button{ng-click: "home.createBudget(home.name, home.amount, home.timeStart, home.timeEnd)"}
    -#     crea budget
    -#   %br
    -#   %input{type: "text", label: "budgId", ng-model: "home.getBudgId"}
    -#   %button{ng-click: "home.getBudget(home.getBudgId)"}
    -#     get budget
    -#   %br
    -#   %input{type: "text", label: "name", ng-model: "home.expName"}
    -#   %input{type: "text", label: "amount", ng-model: "home.expAmount"}
    -#   %input{type: "date", label: "dateRef", ng-model: "home.expDate"}
    -#   %input{type: "text", label: "budget", ng-model: "home.expBudget"}
    -#   %input{type: "text", label: "cathegory", ng-model: "home.expCat"}
    -#   %input{type: "text", label: "note", ng-model: "home.expNote"}
    -#   %button{ng-click: "home.addExpense(home.expName, home.expAmount, home.expDate, home.expBudget, home.expCat, home.expNote)"}
    -#     aggiungi spesa budget

    -#   %br
    -#   %input{type: "text", label: "budgId", ng-model: "home.delBudgId"}
    -#   %button{ng-click: "home.deleteBudget(home.delBudgId)"}
    -#     del budget
    -#   %br  