%body
  .home__container
    Monthly Budget
    
    .home__budgetTestContainer
      %input{type: "text", label: "name", ng-model: "home.name"}
      %input{type: "text", label: "amount", ng-model: "home.amount"}
      %input{type: "date", label: "timeStart", ng-model: "home.timeStart"}
      %input{type: "date", label: "timeEnd", ng-model: "home.timeEnd"}
      %button{ng-click: "home.createBudget(home.name, home.amount, home.timeStart, home.timeEnd)"}
        crea budget
      %input{type: "text", label: "budgId", ng-model: "home.getBudgId"}
      %button{ng-click: "home.getBudget(home.getBudgId)"}
        get budget
